<nav class="navbar">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="/">Schedule of Classes</a>
        <ul class="navbar-nav ps-4">
            <li class="nav-item">
                <a href="/favorites" class="nav-link align-self-center">Favorites</a>
            </li>
        </ul>
    </div>
</nav>