/* ======== global ======== */

body {
    margin: 0;
}

.btn-primary {
    background-color: #e21833;
    border: 0;
}

.btn-primary:hover {
    background-color: #ffd200;
    color: black;
    border: 0;
}

.btn-primary:active {
    background-color: white;
    color: black;
    border: 0;
}

.btn-outline-primary {
    --bs-btn-color: #e21833;
    --bs-btn-border-color: #e21833;
    
    --bs-btn-active-bg: #e21833;
    --bs-btn-active-border-color: #e21833;
}

.navbar {
    background-color: #e21833;
}

.navbar-brand {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
}

.nav-link:hover {
    color: white;
}

#course-input-sug {
    width: 26.5%;
    height: 20%;
}

#major-sug {
    width: 100%;
    height: 240%;
    text-align: left;
}

#course-input-sug, #major-sug {
    border: 1px dotted #ccc;
    padding: 3px;
    z-index: 100;
    position: absolute;
    background-color: white;
    overflow-y: auto;
    font-size: 1rem;
}

#course-input-sug ul, #major-sug ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#course-input-sug ul li, #major-sug ul li {
    padding: 5px 0;
}

#course-input-sug ul li:hover, #major-sug ul li:hover {
    background: #eee;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #ffd200;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* ======== index.ejs ======== */

#center-div {
    display: flex;
    flex-direction: row;
    margin: 30px 15px;
}

.box {
    display: inline-block;
    width: 30%;
    height: 17rem;
    margin: 0 10px;
}

#testudo-img {
    width: 300px;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}

.search-form {
    width: 40%;
}

/* ======== courses.ejs ======== */

.offcanvas-btn {
    top: 50%;
    position: fixed;
    font-size: 3rem;
}

.offcanvas-btn:hover {
    color: #ffd200;
}

.fa-circle-chevron-left {
    right: 10px;
}

#courses-div {
    margin: 1% 6%;
}

.section-open {
    border-right: 20px solid #06d6a0;
}

.section-full {
    border-right: 20px solid #e63946;
}

.fav-star {
    font-size: 1.5rem;
    color: gray;
}

.fav-checked {
    color: #ffd200;
}

.fav-button {
    background-color: transparent;
    border: 0;
}

/* ======== error.ejs ======== */

#sad-testudo {
    width: 20%;
    margin: 20px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    text-align: left;
}

/* ======== Animations ======== */

.hover-uline {
    display: inline-block;
    position: relative;
}

.hover-uline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 0;
    color: #eeeeee;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.hover-uline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
