/* ======== global ======== */

body {
    margin: 0;
}

.btn-primary {
    background-color: #e21833;
    border: 0;
}

.btn-primary:hover {
    background-color: #ffd200;
    color: black;
    border: 0;
}

.btn-primary:active {
    background-color: white;
    color: black;
    border: 0;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
}

/* ======== index.ejs ======== */

.navbar {
    background-color: #e21833;
}

.navbar-brand {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

#center-div {
    display: flex;
    flex-direction: row;
    margin: 30px 15px;
}

.box {
    display: inline-block;
    width: 30%;
    height: 17rem;
    margin: 0 10px;
}

#testudo-img {
    width: 300px;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}

.cards-div {
    margin-left: 2rem;
}

/* ======== search.ejs ======== */

.offcanvas-btn {
    top: 50%;
    position: fixed;
    font-size: 3rem;
}

.offcanvas-btn:hover {
    color: #ffd200;
}

.section-open {
    border-right: 20px solid #06d6a0;
}

.section-full {
    border-right: 20px solid #e63946;
}

.fav-star {
    font-size: 1.5rem;
    color: gray;
}

.fav-checked {
    color: #ffd200;
}

.fav-button {
    background-color: transparent;
    border: 0;
}

/* ======== error.ejs ======== */

#sad-testudo {
    width: 20%;
    margin: 20px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    text-align: left;
}
