/* ======== global ======== */

body {
    font-family: sans-serif;
    margin: 0;
}

.btn-primary {
    background-color: #e21833;
    border: 0;
}

.btn-primary:hover {
    background-color: #ffd200;
    color: black;
    border: 0;
}

/* ======== index.html ======== */

.navbar {
    background-color: #e21833;
}

.navbar-brand {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

#center-div {
    display: flex;
    flex-direction: row;
    margin: 30px 15px;
}

.box {
    display: inline-block;
    width: 30%;
    height: 17rem;
    margin: 0 10px;
}

#testudo-img {
    width: 300px;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}
