<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/partials/head') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('../templates/partials/navbar') %>

        <div class="text-center p-5">
            <h1>400 - Whoops, looks like you did something wrong</h1>
            <img src="media/sad-testudo.jpg" alt="Sad Testudo" id="sad-testudo">
            <h3>However, if you feel that you're not, please message the developers and show the following error log.</h3>
            <pre class="d-block">
                <code>
                    POST to <%- url %>

                    <%- error %>
                </code>
            </pre>

            <a type="button" class="btn btn-primary" href="/">Return to Home</a>
        </div>

</body>

</html>