<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule of Classes</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>
<body>
    <div id="nav">
        <h1>Schedule of Classes</h1>
    </div>
    <div id="center-div">
        <div id="box1" class="box">
            box1
        </div>
        <div id="box2" class="box">
            box2
        </div>
        <div id="box3" class="box">
            box3
        </div>
    </div>
</body>
</html>