<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/partials/head') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('../templates/partials/navbar') %>

    <!-- Flexbox for decorations (?) -->
    <div class="d-flex justify-content-evenly mt-5">
        <div id="box1" class="box">
            Random Class of the Day
        </div>
        <div>
            <img id="testudo-img" src="testudo.png" alt="Wow it's Testudo">
        </div>
        <div id="box3" class="box">
            Random Professor of The Day
        </div>
    </div>

    <!-- Flexbox for all forms -->
    <div class="d-flex justify-content-evenly mt-5">
        <!-- Search by Course ID Form -->
        <form method="post" action="search" class="p-4 border rounded">
            <div class="row mb-3">
                <label for="course" class="col-sm-3 col-form-label">Course</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="course" placeholder="CMSC335" required>
                </div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

</body>

</html>